.nav {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.pic1 {
  width: 150px;
  height: 40px;
}
